In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\DTI IT Team\Desktop\supply_chain_demand_dataset.csv")
df.head()

,order_id,product,warehouse,region,supplier,order_date,demand_units,supply_units,lead_time_days,inventory_level,stock_out,backorder_units,unit_cost,selling_price,promotion,season
0,1,Camera,WH_Pune,North,Supplier_B,2022-01-01 00:00:00,423,104,4,1827,No,111,12085.02,58094.88,No,Winter
1,2,Headphones,WH_Bangalore,West,Supplier_D,2022-01-01 01:00:00,163,387,22,1307,No,105,34636.04,51180.99,No,Winter
2,3,Smartwatch,WH_Mumbai,South,Supplier_B,2022-01-01 02:00:00,158,48,27,1200,No,157,47609.50,51185.58,No,Festive
3,4,Camera,WH_Pune,East,Supplier_C,2022-01-01 03:00:00,169,58,15,1117,No,60,30681.34,10809.42,Yes,Summer
4,5,Tablet,WH_Pune,Central,Supplier_B,2022-01-01 04:00:00,220,250,22,2960,No,176,5998.42,31043.83,Yes,Summer

In [3]:
df.describe()

,order_id,demand_units,supply_units,lead_time_days,inventory_level,backorder_units,unit_cost,selling_price
count,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000
mean,30000.500000,250.265783,250.240800,15.018767,2494.527433,99.616717,25269.203709,30405.469899
std,17320.652413,143.321264,144.256669,8.352198,1437.867883,57.844545,14277.580039,17055.356806
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,500.170000,701.610000
25%,15000.750000,127.000000,125.000000,8.000000,1250.000000,49.000000,12870.305000,15759.057500
50%,30000.500000,250.000000,250.000000,15.000000,2489.000000,100.000000,25311.150000,30363.380000
75%,45000.250000,373.000000,375.000000,22.000000,3728.000000,150.000000,37631.695000,45145.415000
max,60000.000000,499.000000,499.000000,29.000000,4999.000000,199.000000,49998.940000,59999.820000

In [4]:
df.shape

(60000, 16)

In [5]:
df.info

<bound method DataFrame.info of        order_id     product     warehouse   region    supplier  \
0             1      Camera       WH_Pune    North  Supplier_B
1             2  Headphones  WH_Bangalore     West  Supplier_D
2             3  Smartwatch     WH_Mumbai    South  Supplier_B
3             4      Camera       WH_Pune     East  Supplier_C
4             5      Tablet       WH_Pune  Central  Supplier_B
...         ...         ...           ...      ...         ...
59995     59996  Smartwatch       WH_Pune    South  Supplier_A
59996     59997  Smartwatch    WH_Chennai     East  Supplier_A
59997     59998  Headphones  WH_Bangalore  Central  Supplier_C
59998     59999      Camera       WH_Pune    North  Supplier_C
59999     60000      Tablet     WH_Mumbai     West  Supplier_C

                order_date  demand_units  supply_units  lead_time_days  \
0      2022-01-01 00:00:00           423           104               4
1      2022-01-01 01:00:00           163           387              22
2      2022-01-01 02:00:00           158            48              27
3      2022-01-01 03:00:00           169            58              15
4      2022-01-01 04:00:00           220           250              22
...                    ...           ...           ...             ...
59995  2028-11-04 19:00:00           489            80               2
59996  2028-11-04 20:00:00           341           225               7
59997  2028-11-04 21:00:00            14           458              16
59998  2028-11-04 22:00:00           428            41              28
59999  2028-11-04 23:00:00           123           480              20

       inventory_level stock_out  backorder_units  unit_cost  selling_price  \
0                 1827        No              111   12085.02       58094.88
1                 1307        No              105   34636.04       51180.99
2                 1200        No              157   47609.50       51185.58
3                 1117        No               60   30681.34       10809.42
4                 2960        No              176    5998.42       31043.83
...                ...       ...              ...        ...            ...
59995              517       Yes               78   10379.42       14030.27
59996             2791        No              159   34518.37        7980.27
59997              848        No              182   13767.81       35866.00
59998             1584        No              176   40192.71       40055.01
59999              970       Yes               68   38100.82       42757.12

      promotion   season
0            No   Winter
1            No   Winter
2            No  Festive
3           Yes   Summer
4           Yes   Summer
...         ...      ...
59995        No  Monsoon
59996       Yes   Summer
59997        No  Monsoon
59998        No   Winter
59999        No  Festive

[60000 rows x 16 columns]>

In [6]:
#check for missing value
df.isnull().sum()

order_id           0
product            0
warehouse          0
region             0
supplier           0
order_date         0
demand_units       0
supply_units       0
lead_time_days     0
inventory_level    0
stock_out          0
backorder_units    0
unit_cost          0
selling_price      0
promotion          0
season             0
dtype: int64

In [7]:
#data cleaning

In [8]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [9]:
#getting year and month
df['year'] = df['order_date'].dt.year
df['month'] = df['order_date'].dt.month
df['month_name']=df['order_date'].dt.month_name()

In [10]:
#demand_supply_gap
df['demand_supply_gap']= df['demand_units']-df['supply_units']

In [11]:
#revenue,cost and profit

df['revenue']=df['demand_units']*df['selling_price']
df['cost']=df['supply_units']*df['unit_cost']
df['profit']=df['revenue']-df['cost']

In [12]:
# Stock-out flag
df['stock_out_flag'] = np.where(df['inventory_level']==0,'Yes','No')

In [13]:
df['demand_category']=pd.cut(df['demand_units'],bins=[0,100,250,500],labels=['low','medium','high'])

In [14]:
#checking all cahnges before sending the data_set to sql for further aggregations
df.head(30)

,order_id,product,warehouse,region,supplier,order_date,demand_units,supply_units,lead_time_days,inventory_level,...,season,year,month,month_name,demand_supply_gap,revenue,cost,profit,stock_out_flag,demand_category
0,1,Camera,WH_Pune,North,Supplier_B,2022-01-01 00:00:00,423,104,4,1827,...,Winter,2022,1,January,319,24574134.24,1256842.08,23317292.16,No,high
1,2,Headphones,WH_Bangalore,West,Supplier_D,2022-01-01 01:00:00,163,387,22,1307,...,Winter,2022,1,January,-224,8342501.37,13404147.48,-5061646.11,No,medium
2,3,Smartwatch,WH_Mumbai,South,Supplier_B,2022-01-01 02:00:00,158,48,27,1200,...,Festive,2022,1,January,110,8087321.64,2285256.00,5802065.64,No,medium
3,4,Camera,WH_Pune,East,Supplier_C,2022-01-01 03:00:00,169,58,15,1117,...,Summer,2022,1,January,111,1826791.98,1779517.72,47274.26,No,medium
4,5,Tablet,WH_Pune,Central,Supplier_B,2022-01-01 04:00:00,220,250,22,2960,...,Summer,2022,1,January,-30,6829642.60,1499605.00,5330037.60,No,medium
5,6,Speaker,WH_Pune,West,Supplier_B,2022-01-01 05:00:00,358,70,5,2822,...,Monsoon,2022,1,January,288,15052997.84,477068.20,14575929.64,No,high
6,7,Smartwatch,WH_Chennai,West,Supplier_C,2022-01-01 06:00:00,279,285,21,1416,...,Festive,2022,1,January,-6,4491456.39,1898932.20,2592524.19,No,high
7,8,Smartwatch,WH_Chennai,Central,Supplier_C,2022-01-01 07:00:00,116,452,21,1472,...,Monsoon,2022,1,January,-336,1735651.16,21877609.08,-20141957.92,No,medium
8,9,Camera,WH_Pune,South,Supplier_A,2022-01-01 08:00:00,141,67,10,784,...,Festive,2022,1,January,74,3916100.16,493075.11,3423025.05,No,medium
9,10,Mobile,WH_Pune,South,Supplier_D,2022-01-01 09:00:00,190,82,29,3090,...,Summer,2022,1,January,108,9284034.60,259934.26,9024100.34,No,medium
10,11,Tablet,WH_Mumbai,West,Supplier_C,2022-01-01 10:00:00,113,44,13,1823,...,Festive,2022,1,January,69,6527217.87,141903.96,6385313.91,No,medium
11,12,Camera,WH_Mumbai,West,Supplier_D,2022-01-01 11:00:00,215,66,21,2459,...,Monsoon,2022,1,January,149,12088987.75,674442.78,11414544.97,No,medium
12,13,Tablet,WH_Bangalore,West,Supplier_D,2022-01-01 12:00:00,371,269,18,2379,...,Festive,2022,1,January,102,16273900.16,12332412.60,3941487.56,No,high
13,14,Tablet,WH_Bangalore,West,Supplier_A,2022-01-01 13:00:00,337,138,21,3864,...,Monsoon,2022,1,January,199,17134933.50,362487.36,16772446.14,No,high
14,15,Speaker,WH_Chennai,West,Supplier_D,2022-01-01 14:00:00,107,256,22,1248,...,Winter,2022,1,January,-149,2748389.16,8456872.96,-5708483.80,No,medium
15,16,Smartwatch,WH_Delhi,East,Supplier_C,2022-01-01 15:00:00,62,51,23,938,...,Monsoon,2022,1,January,11,1313368.94,1668264.57,-354895.63,No,low
16,17,Headphones,WH_Mumbai,East,Supplier_D,2022-01-01 16:00:00,249,465,8,2080,...,Winter,2022,1,January,-216,10186238.91,3202803.75,6983435.16,No,medium
17,18,Speaker,WH_Bangalore,East,Supplier_C,2022-01-01 17:00:00,266,186,18,252,...,Monsoon,2022,1,January,80,10974058.76,6998019.36,3976039.40,No,high
18,19,Speaker,WH_Mumbai,North,Supplier_D,2022-01-01 18:00:00,119,316,13,3560,...,Festive,2022,1,January,-197,4456877.25,13262248.24,-8805370.99,No,medium
19,20,Tablet,WH_Mumbai,East,Supplier_A,2022-01-01 19:00:00,322,316,8,4628,...,Festive,2022,1,January,6,15533196.28,11742800.16,3790396.12,No,high
20,21,TV,WH_Delhi,East,Supplier_C,2022-01-01 20:00:00,248,38,12,3129,...,Summer,2022,1,January,210,11240843.04,557114.96,10683728.08,No,medium
21,22,Smartwatch,WH_Mumbai,South,Supplier_B,2022-01-01 21:00:00,452,427,4,2910,...,Winter,2022,1,January,25,26539464.76,12071648.68,14467816.08,No,high
22,23,Mobile,WH_Delhi,West,Supplier_B,2022-01-01 22:00:00,363,45,29,2601,...,Festive,2022,1,January,318,11021318.88,1759607.55,9261711.33,No,high
23,24,Speaker,WH_Delhi,Central,Supplier_C,2022-01-01 23:00:00,234,24,19,3741,...,Winter,2022,1,January,210,7622681.04,535261.68,7087419.36,No,medium
24,25,Headphones,WH_Mumbai,South,Supplier_C,2022-01-02 00:00:00,171,70,15,4238,...,Summer,2022,1,January,101,8298233.28,1867389.30,6430843.98,No,medium
25,26,TV,WH_Mumbai,North,Supplier_C,2022-01-02 01:00:00,392,380,24,3582,...,Summer,2022,1,January,12,17233833.12,15887575.80,1346257.32,No,high
26,27,TV,WH_Bangalore,South,Supplier_D,2022-01-02 02:00:00,479,113,19,4781,...,Summer,2022,1,January,366,16173655.34,1491192.07,14682463.27,No,high
27,28,Mobile,WH_Mumbai,Central,Supplier_D,2022-01-02 03:00:00,327,245,27,2297,...,Festive,2022,1,January,82,8496231.72,3409861.00,5086370.72,No,high
28,29,Speaker,WH_Mumbai,South,Supplier_A,2022-01-02 04:00:00,473,36,3,2336,...,Summer,2022,1,January,437,6532319.20,763998.12,5768321.08,No,high
29,30,Headphones,WH_Mumbai,South,Supplier_D,2022-01-02 05:00:00,371,60,3,2281,...,Festive,2022,1,January,311,3809847.23,2814301.20,995546.03,No,high

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine("mysql+mysqlconnector://root:Daksh%4015@localhost:3306/supply")
conn = engine.connect()

In [17]:
df.to_sql(
    name='supply_chain',
    con=conn,
    if_exists='replace',
    index=False)

60000